@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Welcome to the 2nd Annual Kikoda Coding Challenge</h1>

<div class="container-fluid mt-sm-3">
    <div class="row justify-content-center align-items-center">
        <div class="container-fluid col-sm-12">
            <div id="kikodaCarousel" class="carousel" style="max-width: 50em; height: auto; margin: 0 auto" data-ride="carousel" >
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/groupshot.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-Bkak2WsAAowYw.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-BkbI1WsAAU6E5.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-Bm1lrWAAAy2lM.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center"> 
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-BouQlWAAIScsA.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-BRj3cXkAMjzmK.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-BvqnqXoAA35fT.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid rounded" src="images/Kikoda-Intern-Event-Images/C-BFSWKWAAEns9j.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid" src="images/Kikoda-Intern-Event-Images/C-Bkak2WsAAowYw.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid" src="images/Kikoda-Intern-Event-Images/C-BvqHlXoAAiWZy.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid" src="images/Kikoda-Intern-Event-Images/C-CAAMyXcAEDTsE.jpg" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item img-fluid text-center">
                            <img class="d-block img-fluid" src="images/Kikoda-Intern-Event-Images/C-CFKxmXUAAj1YB.jpg" />
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#kikodaCarousel" role="button" data-slide="prev">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#kikodaCarousel" role="button" data-slide="next">
                    <span class="fa fa-arrow-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container-fluid mt-sm-3 col-sm-12 text-center">
            <a class="alert-link mr-2" href="https://twitter.com/LifeatKikoda"><span class="fa fa-twitter"></span>&nbsp;@@LifeAtKikoda</a>
            <span class="text-white">|</span>
            <a class="text-success ml-2" href="https://www.facebook.com/LifeAtKikoda/"><span class="fa fa-facebook"></span>&nbsp;Follow us on Facebook! </a>
            <span class="text-white">|</span>
            <a class="text-light ml-2" href="mailto:recruiting@kikoda.com"><span class="fa fa-envelope"></span>&nbsp;Email Us! </a>
        </div>
    </div>
</div>
