@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid">
    <div class="row">
        <h1 class="col-sm-7 display-5 text-white">Welcome to the 2nd Annual Kikoda Coding Challenge</h1>

    </div>
</div>

@*<div>
    <p class="text-danger">Hello World</p>
    <div class="row">
        <div class="col-md-2">
            <label class="form-control">Title:</label>
        </div>
        <div class="col-md-10">
            <h1>@ViewBag.TITLE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="form-control">Rating:</label>
        </div>
        <div class="col-md-10">
            <h3>@ViewBag.VOTE_AVERAGE / 10</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="form-control">Date of Release:</label>
        </div>
        <div class="col-md-10">
            <h3>@ViewBag.RELEASE_DATE</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="form-control">Plot:</label>
        </div>
        <div class="col-md-10">
            <p>@ViewBag.PLOT</p>
        </div>
    </div>
</div>*@