@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-fluid mt-sm-3">
    <div class="row justify-content-center align-items-center">
        <div class="container-fluid col-sm-12">
            <h1 class="mb-sm-5 mt-sm-5 text-white text-center display-4">Instructions</h1>
        </div>
        <div class="container-fluid col-sm-6">
            <h3 class="mb-sm-5 mt-sm-5 text-white text-center"><span>Downloads</span></h3>
            <dl class="row text-white offset-sm-3">
                <dt class="col-sm-3">.Net Core SDK</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.4-windows-x64-installer">Download .Net Core SDK</a></dd>
                <dt class="col-sm-3">Visual Studio Code</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://code.visualstudio.com/">Download VsCode</a></dd>
                <dt class="col-sm-3">VsCode C# Extension</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp">C# Extension</a></dd>
                <dt class="col-sm-3">Git</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://git-scm.com/downloads">Download Git</a></dd>
            </dl>
        </div>
        <div class="container-fluid col-sm-6">
            <h3 class="mb-sm-5 mt-sm-5 text-white text-center">Documentation</h3>
            <dl class="row text-white offset-sm-3 text-left">
                <dt class="col-sm-3">.Net Core SDK</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://docs.microsoft.com/en-us/dotnet/core/">.Net Core Documentation</a></dd>
                <dt class="col-sm-3">Visual Studio Code</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code">Using VsCode with C#/.Net Core</a></dd>
                <dt class="col-sm-3">Github</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://services.github.com/on-demand/downloads/github-git-cheat-sheet/">Using Git with Github</a></dd>
                <dt class="col-sm-3">Git</dt>
                <dd class="col-sm-9"><a class="text-white" href="https://git-scm.com/docs">Git Reference Manual</a></dd>
            </dl>
        </div>
    </div>
</div>