@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Resources</h1>

<div class="container">
    <div class="row">

        <div class="col-sm-12 text-white">
            <h3 class="mb-sm-5 mt-sm-5 text-center">Challenge Instructions</h3>
            <ul class="list-unstyled d-flex justify-content-center">
                <li class="mr-3">
                    <button class="btn btn-circle btn-success mr-2">1</button>
                    <span>
                        <i class="fa fa-edit mr-2"></i>
                        <a href="https://code.visualstudio.com/">
                            Download Visual Studio Code
                        </a>
                    </span>
                </li>
                <li class="mr-3"> <button class="btn btn-circle btn-success mr-3">2</button> <span> <i class="fa fa-windows mr-2"></i><a href="https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.4-windows-x64-installer">Download .Net Core SDK</a></span> </li>
                <li class="mr-3"> <button class="btn btn-circle btn-success mr-3">3</button> <span> <i class="fa fa-stack-exchange mr-2"></i> <a href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp">Download C# Extension</a> </span> </li>
                <li class="mr-3"> <button class="btn btn-circle btn-success mr-3">4</button> <span> <i class="fa fa-github mr-2"></i> Clone Project from Repo </span></li>
            </ul>
            <pre class="w-50 mt-5 text-center offset-3" style="background-color: lightgray">$ git clone https://github.com/kikoda/Kikoda-Challange-2018.git </pre>
        </div>

        <div class="col-sm-4 ">
            <h3 class="my-sm-5 text-center"><span>Downloads</span></h3>
            <dl class="row">
                <dt class="col-sm-5">.Net Core SDK</dt>
                <dd class="col-sm-7"><a href="https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.4-windows-x64-installer">Download .Net Core SDK</a></dd>
                <dt class="col-sm-5">Visual Studio Code</dt>
                <dd class="col-sm-7"><a href="https://code.visualstudio.com/">Download VsCode</a></dd>
                <dt class="col-sm-5">VsCode C# Extension</dt>
                <dd class="col-sm-7"><a href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp">C# Extension</a></dd>
                <dt class="col-sm-5">Git</dt>
                <dd class="col-sm-7"><a href="https://git-scm.com/downloads">Download Git</a></dd>
            </dl>
        </div>

        <div class="col-sm-4">
            <h3 class="my-sm-5 text-center"><span>API Documentation</span></h3>
            <dl class="row">
                <dt class="col-sm-5">Overview</dt>
                <dd class="col-sm-7"><a class="text-white" href="https://www.themoviedb.org/documentation/api">Need a quick overview?</a></dd>
                <dt class="col-sm-5">Full API</dt>
                <dd class="col-sm-7"><a class="text-white" href="https://developers.themoviedb.org/3/getting-started/introduction">Need help getting started?</a></dd>
                <dt class="col-sm-5">Helpful Wrapper/Libraries</dt>
                <dd class="col-sm-7"><a class="text-white" href="https://www.themoviedb.org/documentation/api/wrappers-libraries">Need help setting up the API?</a></dd>
            </dl>
        </div>

        <div class="col-sm-4">
            <h3 class="my-sm-5 text-center">Documentation</h3>
            <dl class="row">
                <dt class="col-sm-5">.Net Core SDK</dt>
                <dd class="col-sm-7"><a href="https://docs.microsoft.com/en-us/dotnet/core/">.Net Core Documentation</a></dd>
                <dt class="col-sm-5">Visual Studio Code</dt>
                <dd class="col-sm-7"><a href="https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code">Using VsCode with C#/.Net Core</a></dd>
                <dt class="col-sm-5">Github</dt>
                <dd class="col-sm-7"><a href="https://services.github.com/on-demand/downloads/github-git-cheat-sheet/">Using Git with Github</a></dd>
                <dt class="col-sm-5">Git</dt>
                <dd class="col-sm-7"><a href="https://git-scm.com/docs">Git Reference Manual</a></dd>
            </dl>
        </div>

    </div>
</div>
