
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using InternEventSinglePageSite.Models
@model InternEventSinglePageSite.Models.MovieViewModel;


@foreach (var result in Model.MovieResults)
{
    <p>@result.title</p>
}