
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using InternEventSinglePageSite.Models
@model InternEventSinglePageSite.Models.MovieViewModel;


@foreach (var result in Model.MovieResults)
{
    <div class="row">
        <div class="col-md-2">
            <label>Title: </label>
        </div>
        <div class="col-md-10">
            @result.title
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Released: </label>
        </div>
        <div class="col-md-10">
            @result.DOR
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Rating: </label>
        </div>
        <div class="col-md-10">
            @result.vote_average / 10
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Plot: </label>
        </div>
        <div class="col-md-10">
            @result.overview
        </div>
    </div>
    <br>
}