@model MovieViewModel
<div id="Home" class="home-panel home-panel-blue">
    @Html.Partial("~/Views/Home/_Home.cshtml")
</div>


<div id="Resources" class="home-panel home-panel-purple">
    @Html.Partial("~/Views/Home/_Instructions.cshtml")
</div>

<div id="SampleApi" class="home-panel home-panel-green">

    <h1>Sample API</h1>


    <h4>Movie Search</h4>
    <form class="form-inline mb-2" asp-action="SearchMovie" asp-controller="SampleApi">
        <select asp-for="SearchFormat" class="dropdown form-control mr-2">
            <option class="dropdown-item" value="2" selected="selected">By Title</option>
            <option class="dropdown-item" value="0">By Actor</option>
            <option class="dropdown-item" value="3">By Year</option>
        </select>
        <input class="form-control mr-2" asp-for="SearchKey" type="text" placeholder="Search">
        <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
    </form>

    @Html.Partial("~/Views/Home/_SampleApi.cshtml", Model.MovieResults)
</div>


@section Scripts
    {
    <script>
        var returnId = '#' + '@Html.Raw(Model.ReturnId)';
        $(document).ready(function() {
            $('html, body').animate({
                    scrollTop: $(returnId).offset().top
                },
                'slow');
        });
    </script>
}