body {
    color: #fff;
    background-color: #343a40;
}

a {
    color: #fff;
}

.item img {
    background: no-repeat center center;
    background-size:100% auto;
}

.text-success {
    color: #A3D65D;
}

/*
 * Global footer
 */

footer {
    padding: 20px 30px;
    text-align: center;
}

footer :last-child {
    margin-bottom: 0;
}

/*
 * Homepage panels
 */

.home-panel {
    min-height: 60em;
    padding: 70px 30px 50px;
}
.home-panel-blue {
    background-color: #062F4F;
    color: #fff;
}
.home-panel-purple {
    background-color: #813772;
    color: #fff;
}
.home-panel-green {
    background-color: #A3D65D;
    color: #fff;
}
.home-panel > h1 {
    margin: 50px 0;
    
    line-height: 1.2;    
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
}
.home-panel > :first-child {
    text-align: center;
    margin-top: 0;
}

.pt-6 {
    padding-top: 4rem !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 15px;
}

pre {
    background-color: #EEEEEE;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 10px;
    max-height: 600px;
    overflow: auto;
    padding: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: auto;
}

/* tab color */
.nav-tabs>li>a {
    background-color: #333333; 
    border-color: #777777;
    color:#fff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #666;
    border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs>li>a:hover {
    border-color: #000000;
    background-color: #111111;
}